# Рекомендации на основе содержания

1. Использовать dataset MovieLens
2. Построить рекомендации (регрессия, предсказываем оценку) на фичах:
* TF-IDF на тегах и жанрах
* Средние оценки (+ median, variance, etc.) пользователя и фильма
3. Оценить RMSE на тестовой выборке

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [ ]:
#tags[tags['movieId']==34]

In [4]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
movies.shape

(9742, 3)

In [6]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [7]:
tags.shape

(3683, 4)

In [8]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
ratings.shape

(100836, 4)

In [10]:
movies['genres_new'] = movies['genres'].str.replace('-', ' ').str.replace(' ', '')

In [11]:
movies['year'] = movies['title'].str.slice(start=-5, stop=-1)

In [12]:
movies = movies.drop(['genres'], axis=1)

In [13]:
text_genres = movies.genres_new.values
text_genres[:5]

array(['Adventure|Animation|Children|Comedy|Fantasy',
       'Adventure|Children|Fantasy', 'Comedy|Romance',
       'Comedy|Drama|Romance', 'Comedy'], dtype=object)

In [14]:
vectorizer = TfidfVectorizer()

In [15]:
X_genres = vectorizer.fit_transform(text_genres)

In [16]:
vectorizer.vocabulary_

{'adventure': 1,
 'animation': 2,
 'children': 3,
 'comedy': 4,
 'fantasy': 8,
 'romance': 15,
 'drama': 7,
 'action': 0,
 'crime': 5,
 'thriller': 17,
 'horror': 10,
 'mystery': 13,
 'scifi': 16,
 'war': 18,
 'musical': 12,
 'documentary': 6,
 'imax': 11,
 'western': 19,
 'filmnoir': 9,
 'nogenreslisted': 14}

In [17]:
vectorizer.idf_

array([2.67277971, 3.04226778, 3.76757207, 3.68451732, 1.95292831,
       3.09422752, 4.09525948, 1.80361841, 3.52501044, 5.70696754,
       3.29777271, 5.11540016, 4.37017383, 3.83167496, 6.6289563 ,
       2.80842221, 3.2957319 , 2.63733024, 4.23626937, 5.06034038])

In [18]:
print(X_genres.shape)
print(X_genres.toarray())

(9742, 20)
[[0.         0.41684567 0.51622547 ... 0.         0.         0.        ]
 [0.         0.51236121 0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.57860574 0.         0.81560738 ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]

In [19]:
vectorizer.get_feature_names()

['action',
 'adventure',
 'animation',
 'children',
 'comedy',
 'crime',
 'documentary',
 'drama',
 'fantasy',
 'filmnoir',
 'horror',
 'imax',
 'musical',
 'mystery',
 'nogenreslisted',
 'romance',
 'scifi',
 'thriller',
 'war',
 'western']

In [20]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [21]:
tags[tags['movieId']==60756]

     userId  movieId              tag   timestamp
0         2    60756            funny  1445714994
1         2    60756  Highly quotable  1445714996
2         2    60756     will ferrell  1445714992
205      62    60756           comedy  1528934384
206      62    60756            funny  1528934381
207      62    60756     will ferrell  1528934379
909     424    60756            funny  1457846127
910     424    60756     will ferrell  1457846129

In [ ]:
#tags['tag'] = tags['tag'].str.replace('-', ' ').str.replace(' ', '')

In [22]:
tags = tags[['movieId','tag']].drop_duplicates()

In [23]:
tags['tag_new'] = tags[['movieId', 'tag']].groupby(['movieId'])['tag'].transform(lambda x: ' '.join(x))

In [24]:
tags = tags.drop(columns='tag')

In [25]:
tags = tags.drop_duplicates()

In [26]:
tags.head()

    movieId                                            tag_new
0     60756          funny Highly quotable will ferrell comedy
3     89774                         Boxing story MMA Tom Hardy
6    106782  drugs Leonardo DiCaprio Martin Scorsese Stock ...
9     48516  way too long Leonardo DiCaprio suspense twist ...
10      431                           Al Pacino gangster mafia

In [27]:
tags.shape

(1572, 2)

In [28]:
movies['tags_for_tfidf'] = movies.apply(lambda r: ' '.join(tags[tags['movieId']==r['movieId']]['tag_new'].values), axis=1)

In [29]:
movies.head()

,movieId,title,genres_new,year,tags_for_tfidf
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,pixar fun
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,fantasy magic board game Robin Williams game
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,moldy old
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,
4,5,Father of the Bride Part II (1995),Comedy,1995,pregnancy remake

In [30]:
tag_strings = movies['tags_for_tfidf'].values
tag_strings[:5]

array(['pixar fun', 'fantasy magic board game Robin Williams game',
       'moldy old', '', 'pregnancy remake'], dtype=object)

In [31]:
vectorizer_tags = TfidfVectorizer()

In [32]:
X_tags = vectorizer_tags.fit_transform(tag_strings)

In [33]:
vectorizer_tags.vocabulary_

{'pixar': 1186,
 'fun': 609,
 'fantasy': 548,
 'magic': 952,
 'board': 187,
 'game': 617,
 'robin': 1307,
 'williams': 1714,
 'moldy': 1023,
 'old': 1120,
 'pregnancy': 1216,
 'remake': 1279,
 'politics': 1200,
 'president': 1219,
 'mafia': 950,
 'jane': 837,
 'austen': 116,
 'hollywood': 736,
 'serial': 1379,
 'killer': 879,
 'alcoholism': 50,
 'shakespeare': 1389,
 'in': 785,
 'netflix': 1083,
 'queue': 1245,
 'kidnapping': 877,
 'high': 719,
 'school': 1353,
 'teacher': 1537,
 'time': 1578,
 'travel': 1604,
 'brad': 204,
 'pitt': 1185,
 'bruce': 221,
 'willis': 1715,
 'mindfuck': 1011,
 'post': 1207,
 'apocalyptic': 88,
 'twist': 1621,
 'ending': 507,
 'animal': 77,
 'movie': 1045,
 'pigs': 1183,
 'villain': 1664,
 'nonexistent': 1099,
 'or': 1129,
 'not': 1106,
 'needed': 1075,
 'for': 586,
 'good': 649,
 'story': 1480,
 'death': 414,
 'penalty': 1167,
 'nun': 1110,
 'twins': 1620,
 'chick': 283,
 'flick': 582,
 'funny': 610,
 'paul': 1162,
 'rudd': 1322,
 'quotable': 1249,
 'seen': 1373,
 'more': 1032,
 'than': 1555,
 'once': 1125,
 'emma': 503,
 'south': 1442,
 'africa': 40,
 'england': 509,
 'journalism': 861,
 'wedding': 1692,
 'mystery': 1059,
 'suspense': 1517,
 'thriller': 1570,
 'tricky': 1609,
 'heist': 708,
 'adoption': 31,
 'prostitution': 1228,
 'writing': 1731,
 'music': 1057,
 'jekyll': 845,
 'and': 69,
 'hyde': 769,
 'theater': 1559,
 'crime': 376,
 'off': 1116,
 'beat': 147,
 'comedy': 329,
 'quirky': 1248,
 'test': 1554,
 'tag': 1531,
 'golf': 647,
 'adam': 26,
 'sandler': 1338,
 'muppets': 1053,
 'beautiful': 149,
 'scenery': 1349,
 'epic': 518,
 'historical': 727,
 'inspirational': 804,
 'medieval': 986,
 'mel': 988,
 'gibson': 639,
 'oscar': 1137,
 'best': 161,
 'cinematography': 302,
 'revenge': 1288,
 'sword': 1526,
 'fight': 568,
 'scotland': 1361,
 'assassination': 106,
 'holocaust': 737,
 'dating': 404,
 'addiction': 29,
 'heroin': 717,
 'leonardo': 908,
 'dicaprio': 430,
 'mark': 963,
 'wahlberg': 1675,
 'moon': 1029,
 'nasa': 1069,
 'space': 1444,
 'superhero': 1508,
 'michael': 1002,
 'crichton': 375,
 'submarine': 1498,
 'controversial': 348,
 'new': 1084,
 'york': 1734,
 'city': 304,
 'nudity': 1109,
 'full': 608,
 'frontal': 604,
 'computers': 336,
 'made': 949,
 'me': 982,
 'cry': 385,
 'generation': 629,
 'stop': 1478,
 'looking': 929,
 'at': 110,
 'swan': 1521,
 'ireland': 820,
 'cynical': 394,
 'hilarious': 722,
 'independent': 788,
 'film': 573,
 'witty': 1723,
 'mental': 995,
 'illness': 774,
 'psychology': 1234,
 'stephen': 1469,
 'king': 881,
 'business': 234,
 'basketball': 141,
 'france': 592,
 'infertility': 796,
 'australia': 118,
 'bad': 133,
 'sinbad': 1408,
 'beethoven': 155,
 'einstein': 497,
 'court': 363,
 'classic': 310,
 'action': 23,
 'sci': 1355,
 'fi': 565,
 'great': 661,
 'soundtrack': 1441,
 'engrossing': 510,
 'adventure': 37,
 'nerd': 1081,
 'oldie': 1121,
 'but': 236,
 'goodie': 650,
 'star': 1464,
 'wars': 1682,
 'robots': 1308,
 'androids': 72,
 'darth': 403,
 'vader': 1648,
 'luke': 941,
 'skywalker': 1417,
 'opera': 1128,
 'louisa': 935,
 'may': 976,
 'alcott': 51,
 'girl': 641,
 'power': 1211,
 'india': 789,
 'gothic': 655,
 'christmas': 295,
 'prison': 1223,
 'disability': 441,
 'brutality': 223,
 'dark': 402,
 'psychedelic': 1231,
 'satire': 1340,
 'stylized': 1497,
 'assassin': 105,
 'jean': 843,
 'reno': 1283,
 'hit': 729,
 'men': 993,
 'assassins': 107,
 'awkward': 127,
 'romance': 1315,
 'corruption': 358,
 'disturbing': 447,
 'drama': 469,
 'french': 600,
 'friendship': 602,
 'gary': 625,
 'oldman': 1122,
 'acting': 22,
 'guns': 675,
 'hitman': 731,
 'humorous': 765,
 'imdb': 780,
 'top': 1590,
 '250': 9,
 'lolita': 924,
 'theme': 1560,
 'loneliness': 925,
 'love': 936,
 'luc': 938,
 'besson': 160,
 'natalie': 1070,
 'portman': 1206,
 'organized': 1133,
 'police': 1198,
 'sniper': 1426,
 'tense': 1550,
 'touching': 1593,
 'unique': 1634,
 'dialogue': 428,
 'non': 1098,
 'linear': 918,
 'cult': 388,
 'drugs': 476,
 'quentin': 1244,
 'tarantino': 1535,
 '1990s': 7,
 'achronological': 21,
 'packed': 1145,
 'aggressive': 43,
 'amazing': 60,
 'dialogues': 429,
 'anthology': 83,
 'atmospheric': 112,
 'awesome': 126,
 'ass': 104,
 'language': 895,
 'bible': 164,
 'biblical': 165,
 'references': 1273,
 'big': 166,
 'boys': 203,
 'with': 1721,
 'name': 1064,
 'actors': 24,
 'black': 176,
 'humor': 764,
 'humour': 766,
 'blood': 181,
 'splatters': 1456,
 'bloody': 183,
 'casual': 261,
 'violence': 1665,
 'character': 271,
 'development': 425,
 'characters': 273,
 'coke': 321,
 'conversation': 350,
 'cool': 351,
 'style': 1495,
 'scene': 1348,
 'scrubbing': 1366,
 'dance': 398,
 'dancing': 399,
 'different': 434,
 'diner': 435,
 'disjointed': 445,
 'timeline': 1579,
 'drug': 475,
 'overdose': 1141,
 'ensemble': 513,
 'cast': 260,
 'entertaining': 516,
 'entirely': 517,
 'episodic': 519,
 'exciting': 535,
 'fast': 551,
 'paced': 1143,
 'noir': 1095,
 'foul': 591,
 'gangster': 620,
 'gangsters': 621,
 'genius': 630,
 'golden': 646,
 'watch': 1685,
 'gore': 653,
 'gritty': 667,
 'harvey': 697,
 'keitel': 875,
 'highly': 720,
 'homosexuality': 740,
 'iconic': 771,
 'innovative': 799,
 'intellectual': 807,
 'intelligent': 809,
 'intense': 810,
 'interesting': 812,
 'intertwining': 814,
 'storylines': 1482,
 'interwoven': 815,
 'ironic': 821,
 'irony': 822,
 'john': 851,
 'travolta': 1605,
 'as': 103,
 'protagonist': 1229,
 'los': 932,
 'angeles': 74,
 'masterpiece': 971,
 'meaningless': 983,
 'milkshake': 1008,
 'mobster': 1019,
 'mobsters': 1020,
 'monologue': 1025,
 'motherfucker': 1039,
 'multiple': 1052,
 'stories': 1479,
 'neo': 1080,
 'nonlinear': 1100,
 'narrative': 1068,
 'storyline': 1481,
 'notable': 1107,
 'offensive': 1117,
 'organised': 1131,
 'original': 1134,
 'plot': 1192,
 'out': 1139,
 'of': 1115,
 'order': 1130,
 'palme': 1150,
 'parody': 1158,
 'philosophical': 1176,
 'pop': 1204,
 'culture': 389,
 'psychological': 1233,
 'pulp': 1238,
 'violent': 1666,
 'content': 347,
 'including': 787,
 'rape': 1260,
 'images': 776,
 'graphic': 660,
 'sexuality': 1386,
 'some': 1436,
 'strong': 1490,
 'sustained': 1520,
 'random': 1257,
 'retro': 1286,
 'roger': 1310,
 'avary': 123,
 'royal': 1320,
 'cheese': 279,
 'samuel': 1336,
 'jackson': 833,
 'sarcasm': 1339,
 'sexy': 1387,
 'smart': 1424,
 'sophisticated': 1439,
 'splatter': 1455,
 'steve': 1470,
 'buscemi': 233,
 'storytelling': 1483,
 'stylish': 1496,
 'thought': 1568,
 'provoking': 1230,
 'uma': 1624,
 'thurman': 1573,
 'unpredictable': 1639,
 'unusual': 1641,
 'very': 1657,
 'tv': 1619,
 'marriage': 965,
 'wrongful': 1732,
 'imprisonment': 784,
 'morgan': 1033,
 'freeman': 599,
 'enterprise': 514,
 'coma': 328,
 'weddings': 1693,
 'cross': 380,
 'dressing': 473,
 'drag': 468,
 'remade': 1278,
 'tom': 1588,
 'clancy': 307,
 'grisham': 666,
 'interracial': 813,
 'shrimp': 1401,
 'vietnam': 1661,
 'bubba': 224,
 'gump': 672,
 'lieutenant': 915,
 'dan': 397,
 'stupid': 1494,
 'is': 824,
 'does': 455,
 'bittersweet': 173,
 'emotional': 504,
 'heartwarming': 706,
 'gambling': 616,
 'disney': 446,
 'animated': 78,
 'feature': 557,
 'score': 1359,
 'bus': 232,
 'spies': 1454,
 'christina': 294,
 'ricci': 1292,
 'christopher': 297,
 'lloyd': 923,
 'family': 547,
 'edith': 492,
 'wharton': 1702,
 'horses': 749,
 'actress': 25,
 'al': 46,
 'pacino': 1144,
 'based': 140,
 'on': 1124,
 'show': 1400,
 'hula': 761,
 'hoop': 741,
 'biopic': 171,
 'dinosaur': 437,
 'japan': 838,
 'divorce': 449,
 'aids': 45,
 'radio': 1255,
 'butler': 237,
 'housekeeper': 755,
 'military': 1007,
 'racism': 1253,
 'football': 585,
 'moving': 1047,
 'true': 1613,
 'biography': 170,
 'chess': 282,
 'lewis': 912,
 'large': 896,
 'race': 1251,
 'empire': 505,
 'state': 1466,
 'building': 228,
 'artificial': 97,
 'intelligence': 808,
 'cyberpunk': 392,
 'future': 611,
 'philip': 1175,
 'dick': 432,
 'dreamlike': 470,
 'existentialism': 537,
 'poetry': 1195,
 'halloween': 680,
 'knights': 886,
 'adolescence': 30,
 'overrated': 1142,
 'apocalypse': 87,
 'arnold': 93,
 'schwarzenegger': 1354,
 'nuclear': 1108,
 'war': 1680,
 'scifi': 1358,
 'american': 62,
 'indians': 791,
 'native': 1072,
 'americans': 63,
 'hannibal': 686,
 'lector': 905,
 'coen': 320,
 'brothers': 220,
 'edward': 493,
 'norton': 1104,
 'priest': 1221,
 'babies': 129,
 'gulf': 671,
 'spoof': 1457,
 'bugs': 227,
 'bunny': 230,
 'veterinarian': 1658,
 'aardman': 13,
 'alcatraz': 49,
 'bay': 144,
 'terrorism': 1553,
 'disaster': 443,
 'aliens': 54,
 'atomic': 113,
 'bomb': 191,
 'purity': 1239,
 'essence': 522,
 'slim': 1421,
 'pickens': 1181,
 'book': 194,
 'narrated': 1067,
 'abuse': 18,
 'adultery': 36,
 'give': 642,
 'back': 131,
 'my': 1058,
 'son': 1438,
 'it': 828,
 'was': 1683,
 'melodramatic': 991,
 'kind': 880,
 'dumb': 479,
 'the': 1558,
 'cinema': 301,
 'capote': 250,
 'falling': 545,
 'alfred': 52,
 'hitchcock': 730,
 'james': 836,
 'stewart': 1472,
 'voyeurism': 1673,
 'photographer': 1179,
 'photography': 1180,
 'screwball': 1364,
 'brooch': 218,
 'mount': 1043,
 'rushmore': 1325,
 'start': 1465,
 'statue': 1468,
 'george': 633,
 'bernard': 158,
 'shaw': 1392,
 'rich': 1293,
 'guy': 676,
 'poor': 1202,
 'italy': 829,
 'royalty': 1321,
 '1900s': 1,
 'dorothy': 461,
 'toto': 1592,
 'civil': 305,
 'television': 1548,
 'movies': 1046,
 'eerie': 494,
 'rosebud': 1319,
 'hal': 678,
 'apes': 86,
 'arthur': 96,
 'clarke': 308,
 'computer': 335,
 'confusing': 340,
 'dull': 477,
 'futuristic': 612,
 'meditative': 987,
 'effects': 495,
 'visual': 1669,
 'relaxing': 1276,
 'revolutionary': 1290,
 'setting': 1382,
 'ship': 1395,
 'slow': 1422,
 'spacecraft': 1445,
 'stanley': 1462,
 'kubrick': 887,
 'superb': 1506,
 'surreal': 1514,
 'technology': 1542,
 'tedious': 1543,
 'visually': 1670,
 'appealing': 89,
 'mrs': 1050,
 'dewinter': 426,
 'europe': 526,
 'amnesia': 65,
 'cold': 322,
 'russia': 1327,
 'swashbuckler': 1523,
 'ghosts': 636,
 'shangri': 1390,
 'la': 891,
 'astaire': 108,
 'rogers': 1311,
 'homeless': 739,
 'oil': 1119,
 'nick': 1086,
 'nora': 1102,
 'charles': 274,
 'leopard': 909,
 'fugitive': 607,
 'zombies': 1742,
 'missionary': 1016,
 'tennessee': 1549,
 'hemingway': 710,
 'food': 584,
 'nanny': 1065,
 'hammerstein': 683,
 'updated': 1643,
 'classics': 311,
 'anti': 85,
 'semitism': 1376,
 'governess': 656,
 'fish': 581,
 'religion': 1277,
 '1920s': 2,
 '1960s': 4,
 'jim': 850,
 'morrison': 1034,
 'predictable': 1214,
 'navy': 1073,
 '1950s': 3,
 'freedom': 598,
 'expression': 538,
 'aging': 44,
 'clousseau': 319,
 'british': 209,
 'monty': 1027,
 'python': 1241,
 'boxing': 202,
 'jack': 830,
 'nicholson': 1085,
 'am': 59,
 'your': 1737,
 'father': 553,
 'lucas': 939,
 'harrison': 694,
 'ford': 588,
 'sequel': 1378,
 'inigo': 798,
 'montoya': 1026,
 'six': 1414,
 'fingered': 578,
 'man': 957,
 'archaeology': 91,
 'indiana': 790,
 'jones': 858,
 'steven': 1471,
 'spielberg': 1453,
 'treasure': 1606,
 'hunt': 768,
 'ark': 92,
 'covenant': 365,
 'horror': 748,
 'craft': 366,
 'spaghetti': 1447,
 'western': 1700,
 'claustrophobic': 312,
 'confrontational': 339,
 'earnest': 485,
 'screenplay': 1363,
 'motivational': 1041,
 'middle': 1004,
 'east': 487,
 'brainwashing': 206,
 'harper': 691,
 'lee': 906,
 'ferris': 562,
 'wheel': 1704,
 'venice': 1653,
 'zither': 1739,
 'samurai': 1337,
 'suspenseful': 1518,
 'norman': 1103,
 'bates': 142,
 'white': 1706,
 'saturday': 1342,
 'night': 1088,
 'live': 922,
 'mozart': 1049,
 'salieri': 1333,
 'entertainer': 515,
 'december': 416,
 'cerebral': 267,
 'reflective': 1274,
 'special': 1448,
 'sort': 1440,
 'highschool': 721,
 'simon': 1406,
 'garfunkel': 624,
 'pow': 1210,
 'incest': 786,
 'skiing': 1416,
 'chilly': 288,
 'creepy': 374,
 'menacing': 994,
 'oninous': 1127,
 'murder': 1054,
 'world': 1730,
 'ii': 773,
 'animation': 79,
 'anime': 80,
 'stunning': 1493,
 'nazis': 1074,
 'gunfight': 674,
 'hammett': 684,
 'heavy': 707,
 'metal': 998,
 'mockumentary': 1021,
 'holy': 738,
 'grail': 659,
 'forster': 590,
 'cambodia': 241,
 'baseball': 139,
 'birds': 172,
 'juliette': 866,
 'martin': 967,
 'scorsese': 1360,
 'robert': 1306,
 'de': 409,
 'niro': 1092,
 'lawyer': 902,
 'prom': 1226,
 'vampires': 1650,
 'demons': 418,
 'personals': 1172,
 'ads': 34,
 'borg': 196,
 'ex': 534,
 'con': 337,
 'miller': 1009,
 'dogs': 456,
 'klingons': 885,
 'captain': 251,
 'kirk': 883,
 'whales': 1701,
 'shark': 1391,
 'sports': 1458,
 'spying': 1459,
 'slasher': 1418,
 'hawkeye': 700,
 'fennimore': 560,
 'cooper': 352,
 'conan': 338,
 'andrew': 70,
 'weber': 1691,
 'jungle': 867,
 'tolstoy': 1587,
 'reunion': 1287,
 'ballroom': 136,
 'dinosaurs': 438,
 'romantic': 1317,
 'transplants': 1602,
 '1970s': 5,
 'queen': 1243,
 'victoria': 1659,
 'lawyers': 903,
 'henry': 711,
 'amish': 64,
 'alternate': 58,
 'universe': 1635,
 'savannah': 1343,
 'canada': 247,
 'shipwreck': 1397,
 'kevin': 876,
 'costner': 359,
 'bowling': 201,
 'deadpan': 411,
 'jeff': 844,
 'bridges': 207,
 'goodman': 651,
 'julianne': 865,
 'moore': 1030,
 'marijuana': 961,
 'seymour': 1388,
 'hoffman': 732,
 'ransom': 1258,
 'rug': 1324,
 'satirical': 1341,
 'dickens': 433,
 '1980s': 6,
 'no': 1093,
 'dvd': 482,
 'conspiracy': 343,
 'avant': 122,
 'garde': 623,
 'elegiac': 500,
 'melancholy': 990,
 'wry': 1733,
 'hallucinatory': 681,
 'paranoid': 1153,
 'mathematics': 973,
 'artsy': 101,
 'enigmatic': 511,
 'insanity': 801,
 'paranoia': 1152,
 'ben': 156,
 'stiller': 1473,
 'crude': 383,
 'goofy': 652,
 'ships': 1396,
 'judaism': 863,
 'huey': 758,
 'long': 927,
 'penn': 1168,
 'warren': 1681,
 'coulda': 362,
 'been': 153,
 'contender': 346,
 'gangs': 619,
 'olympics': 1123,
 'china': 289,
 'autism': 119,
 'rasicm': 1261,
 'jason': 840,
 'california': 240,
 'mexico': 1000,
 'katzanzakis': 871,
 'andy': 73,
 'garcia': 622,
 'francis': 594,
 'coppola': 354,
 'general': 628,
 'motors': 1042,
 'michigan': 1003,
 'memory': 992,
 'suburbia': 1500,
 'carnival': 253,
 'ray': 1263,
 'bradbury': 205,
 'mermaid': 996,
 'weather': 1690,
 'forecaster': 589,
 'hinton': 724,
 'tolkein': 1585,
 'mice': 1001,
 'college': 325,
 'scary': 1346,
 'aquarium': 90,
 'boston': 198,
 'capone': 249,
 'survival': 1516,
 'small': 1423,
 'towns': 1594,
 'train': 1599,
 'eyes': 540,
 'dobbler': 450,
 'freaks': 596,
 'snl': 1428,
 'broadway': 212,
 'poignant': 1196,
 'sentimental': 1377,
 'tear': 1540,
 'jerker': 847,
 'tearjerking': 1541,
 'america': 61,
 'cameo': 243,
 'whoopi': 1707,
 'goldberg': 645,
 'trek': 1607,
 'moses': 1037,
 'martial': 966,
 'arts': 100,
 'mail': 954,
 'doctors': 452,
 'hungary': 767,
 'stapler': 1463,
 'workplace': 1729,
 'nicolas': 1087,
 'cage': 239,
 'evil': 531,
 'children': 286,
 'siam': 1403,
 'philosophy': 1177,
 'nolan': 1096,
 'directorial': 440,
 'debut': 415,
 'southern': 1443,
 'us': 1645,
 'golfing': 648,
 'virtual': 1668,
 'reality': 1266,
 'motherhood': 1040,
 'comic': 330,
 'prequel': 1218,
 'force': 587,
 'endings': 508,
 'spiders': 1452,
 'adult': 35,
 'free': 597,
 'speech': 1450,
 'park': 1156,
 'trey': 1608,
 'parker': 1157,
 'chris': 291,
 'klein': 884,
 'biggs': 167,
 'pizza': 1187,
 'beer': 154,
 'seann': 1368,
 'william': 1713,
 'scott': 1362,
 'teen': 1544,
 'claims': 306,
 'to': 1581,
 'be': 145,
 'video': 1660,
 'crucifixion': 382,
 'rome': 1318,
 'slavery': 1419,
 'gentle': 632,
 'lyrical': 943,
 'nostalgia': 1105,
 'see': 1371,
 'dead': 410,
 'people': 1169,
 'aviation': 124,
 'beatles': 148,
 'river': 1300,
 'academy': 19,
 'award': 125,
 'supporting': 1510,
 'indonesia': 794,
 'nightclub': 1089,
 'island': 825,
 'macaulay': 944,
 'culkin': 387,
 'challenging': 269,
 'chuck': 298,
 'palahniuk': 1148,
 'clever': 314,
 'complicated': 333,
 'consumerism': 344,
 'david': 405,
 'fincher': 577,
 'double': 462,
 'life': 916,
 'fighting': 569,
 'helena': 709,
 'bonham': 193,
 'carter': 255,
 'imaginary': 777,
 'friend': 601,
 'mind': 1010,
 'blowing': 185,
 'topless': 1591,
 'palahnuik': 1149,
 'postmodern': 1208,
 'powerful': 1212,
 'schizophrenia': 1352,
 'social': 1430,
 'commentary': 332,
 'societal': 1431,
 'criticism': 379,
 'lawn': 900,
 'mower': 1048,
 'studio': 1491,
 'ghibli': 634,
 'tobacco': 1582,
 'marathon': 959,
 'class': 309,
 'aykroyd': 128,
 'camp': 245,
 'irreverent': 823,
 'jay': 841,
 'silent': 1404,
 'bob': 188,
 'smith': 1425,
 'up': 1642,
 'series': 1380,
 'ichabod': 770,
 'crane': 368,
 'depression': 422,
 'dust': 481,
 'bowl': 200,
 'hanks': 685,
 'graham': 658,
 'greene': 663,
 'downbeat': 464,
 'fatherhood': 554,
 'kaufman': 872,
 'jude': 864,
 'law': 899,
 'obsession': 1112,
 'secrets': 1370,
 'asylum': 109,
 'brittany': 211,
 'murphy': 1055,
 'hospital': 750,
 'winona': 1719,
 'ryder': 1329,
 'dingo': 436,
 'ate': 111,
 'baby': 130,
 'nuns': 1111,
 'plastic': 1190,
 'surgery': 1512,
 'gun': 673,
 'fu': 605,
 'heroic': 716,
 'bloodshed': 182,
 'crazy': 370,
 'figure': 570,
 'skating': 1415,
 ...}

In [34]:
print(X_tags.shape)
print(X_tags.toarray())

(9742, 1744)
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [35]:
X_tags = X_tags.toarray()[:, :400]
X_tags.shape

(9742, 400)

In [36]:
movies[movies['movieId']==2]

,movieId,title,genres_new,year,tags_for_tfidf
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,fantasy magic board game Robin Williams game

In [37]:
# tags[tags['tag_new'].str.contains('villainnonexistentornotneededforgoodstory')]

In [38]:
X_genres_tfidf = pd.DataFrame(X_genres.toarray(), columns=vectorizer.get_feature_names())
X_genres_tfidf.head()

,action,adventure,animation,children,comedy,crime,documentary,drama,fantasy,filmnoir,horror,imax,musical,mystery,nogenreslisted,romance,scifi,thriller,war,western
0,0.0,0.416846,0.516225,0.504845,0.267586,0.0,0.0,0.000000,0.482990,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,0.0,0.512361,0.000000,0.620525,0.000000,0.0,0.0,0.000000,0.593662,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.000000,0.000000,0.570915,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.821009,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.000000,0.000000,0.505015,0.0,0.0,0.466405,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.726241,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [39]:
X_tags_tfidf = pd.DataFrame(X_tags, columns=vectorizer_tags.get_feature_names()[:400])
X_tags_tfidf.shape

(9742, 400)

In [ ]:
#X_tags_tfidf = pd.DataFrame(X_tags.toarray(), columns=vectorizer_tags.get_feature_names())
#X_tags_tfidf.shape

In [40]:
movies1 = movies.join(X_genres_tfidf, how='left')
movies1.head()

,movieId,title,genres_new,year,tags_for_tfidf,action,adventure,animation,children,comedy,...,horror,imax,musical,mystery,nogenreslisted,romance,scifi,thriller,war,western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,pixar fun,0.0,0.416846,0.516225,0.504845,0.267586,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,fantasy magic board game Robin Williams game,0.0,0.512361,0.000000,0.620525,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,moldy old,0.0,0.000000,0.000000,0.000000,0.570915,...,0.0,0.0,0.0,0.0,0.0,0.821009,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,,0.0,0.000000,0.000000,0.000000,0.505015,...,0.0,0.0,0.0,0.0,0.0,0.726241,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,1995,pregnancy remake,0.0,0.000000,0.000000,0.000000,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [41]:
movies_tfidf = movies1.join(X_tags_tfidf, how='left', lsuffix='t')
movies_tfidf.head()

,movieId,title,genres_new,year,tags_for_tfidf,actiont,adventuret,animationt,childrent,comedyt,...,cusack,cuts,cyberpunk,cyborg,cynical,dahl,damon,dan,dance,dancing
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,pixar fun,0.0,0.416846,0.516225,0.504845,0.267586,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,fantasy magic board game Robin Williams game,0.0,0.512361,0.000000,0.620525,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,moldy old,0.0,0.000000,0.000000,0.000000,0.570915,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995,,0.0,0.000000,0.000000,0.000000,0.505015,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,1995,pregnancy remake,0.0,0.000000,0.000000,0.000000,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
movies_tfidf.shape

(9742, 425)

In [ ]:
#movies_tfidf[movies_tfidf['zooey']!=0]

In [ ]:
# movies_with_tags = movies.join(tags.set_index('movieId'), on='movieId', how='left')
# movies_with_tags.head()

In [ ]:
# movies_with_tags.shape

In [ ]:
#movies_with_tags['tag_new'].fillna(0,inplace=True)

In [ ]:
#tag_strings = tags['tag_new'].values
#tag_strings[-5:]

In [ ]:
#vectorizer_tags = TfidfVectorizer()

In [ ]:
#X_tags = vectorizer_tags.fit_transform(tag_strings)

In [ ]:
#vectorizer_tags.vocabulary_

In [ ]:
#vectorizer_tags.idf_

In [ ]:
#print(X_tags.shape)
#print(X_tags.toarray())

In [43]:
ratings.groupby('userId').count().sort_values('rating', ascending=False).head(5)

        movieId  rating  timestamp
userId
414        2698    2698       2698
599        2478    2478       2478
474        2108    2108       2108
448        1864    1864       1864
274        1346    1346       1346

In [44]:
User = 448

In [45]:
ratings_with_mean = ratings.groupby('movieId')['rating'].agg(['mean', 'var', 'count']).reset_index()
ratings_with_mean=ratings_with_mean.fillna(0)
ratings_with_mean.head()

   movieId      mean       var  count
0        1  3.920930  0.696990    215
1        2  3.431818  0.777419    110
2        3  3.259615  1.112651     52
3        4  2.357143  0.726190      7
4        5  3.071429  0.822917     49

In [46]:
ratings_with_mean[ratings_with_mean.movieId ==138610]

      movieId  mean  var  count
8963   138610   1.5  0.0      1

In [47]:
ratings[ratings.movieId ==138610]

        userId  movieId  rating   timestamp
100778     610   138610     1.5  1493848976

In [48]:
ratings_with_mean = ratings.merge(ratings_with_mean)
ratings_with_mean.head()

   userId  movieId  rating   timestamp     mean      var  count
0       1        1     4.0   964982703  3.92093  0.69699    215
1       5        1     4.0   847434962  3.92093  0.69699    215
2       7        1     4.5  1106635946  3.92093  0.69699    215
3      15        1     2.5  1510577970  3.92093  0.69699    215
4      17        1     4.5  1305696483  3.92093  0.69699    215

In [49]:
df_finish = ratings_with_mean.merge(movies_tfidf)
df_finish.head()

,userId,movieId,rating,timestamp,mean,var,count,title,genres_new,year,...,cusack,cuts,cyberpunk,cyborg,cynical,dahl,damon,dan,dance,dancing
0,1,1,4.0,964982703,3.92093,0.69699,215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,1,4.0,847434962,3.92093,0.69699,215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,1,4.5,1106635946,3.92093,0.69699,215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15,1,2.5,1510577970,3.92093,0.69699,215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,17,1,4.5,1305696483,3.92093,0.69699,215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
df_for_user = df_finish[df_finish['userId']==User]
df_for_user.head()

,userId,movieId,rating,timestamp,mean,var,count,title,genres_new,year,...,cusack,cuts,cyberpunk,cyborg,cynical,dahl,damon,dan,dance,dancing
154,448,1,5.0,1019126661,3.920930,0.696990,215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
252,448,3,3.0,1019128536,3.259615,1.112651,52,Grumpier Old Men (1995),Comedy|Romance,1995,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
526,448,47,4.0,1019132386,3.975369,0.850875,203,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
729,448,50,4.0,1064741727,4.237745,0.641475,204,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
843,448,101,3.5,1076328586,3.782609,1.086957,23,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance,1996,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
df_for_user = df_for_user.drop(columns=['title', 'genres_new', 'timestamp', 'tags_for_tfidf'])

In [52]:
df_for_user.loc[:, df_for_user.dtypes == object].head()

     year
154  1995
252  1995
526  1995
729  1995
843  1996

In [53]:
y = df_for_user['rating']
y.shape

(1864,)

In [54]:
X = df_for_user.drop(columns=['rating','userId', 'movieId'])
X.shape

(1864, 424)

In [55]:
X_dummies = pd.get_dummies(X, columns=['year'])

In [56]:
X_dummies.head()

,mean,var,count,actiont,adventuret,animationt,childrent,comedyt,crimet,documentary,...,year_2008,year_2009,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017
154,3.920930,0.696990,215,0.0,0.416846,0.516225,0.504845,0.267586,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
252,3.259615,1.112651,52,0.0,0.000000,0.000000,0.000000,0.570915,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
526,3.975369,0.850875,203,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
729,4.237745,0.641475,204,0.0,0.000000,0.000000,0.000000,0.000000,0.553854,0.0,...,0,0,0,0,0,0,0,0,0,0
843,3.782609,1.086957,23,0.0,0.550590,0.000000,0.000000,0.353441,0.559994,0.0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, test_size=0.2)

In [59]:
from sklearn.preprocessing import StandardScaler

In [60]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [61]:
from sklearn.ensemble import RandomForestRegressor

In [62]:
model = RandomForestRegressor(max_depth=5)

In [63]:
model.fit(X_train, y_train)

RandomForestRegressor(max_depth=5)

In [64]:
y_pred = model.predict(X_test)

In [65]:
from sklearn.metrics import r2_score, mean_squared_error

In [66]:
r2_score(y_test, y_pred)

0.5730453119144072

In [67]:
mean_squared_error(y_test, y_pred)

0.4254448539996861

In [68]:
from sklearn.model_selection import GridSearchCV

In [69]:
grid_params = {'max_depth': list(range(1, 20)), 'n_estimators': [30, 50, 70, 100, 120]}

In [70]:
forest = GridSearchCV(RandomForestRegressor(), param_grid=grid_params, cv=10, scoring = 'r2')
forest.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=RandomForestRegressor(),
             param_grid={'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                       13, 14, 15, 16, 17, 18, 19],
                         'n_estimators': [30, 50, 70, 100, 120]},
             scoring='r2')

In [71]:
y_pred = forest.best_estimator_.predict(X_test)

In [75]:
forest.best_params_

{'max_depth': 8, 'n_estimators': 70}

In [72]:
r2_score(y_test, y_pred)

0.5812002008531747

In [74]:
mean_squared_error(y_test, y_pred)**0.5

0.6460021695662642

In [76]:
from lightgbm import LGBMRegressor

In [77]:
lgbm = LGBMRegressor()

In [78]:
lgbm.fit(X_train, y_train)

LGBMRegressor()

In [79]:
y_pred = lgbm.predict(X_test)

In [80]:
r2_score(y_test, y_pred)

0.570248472117419

In [81]:
mean_squared_error(y_test, y_pred)**0.5

0.6543942262657482