In [43]:
import numpy as np
import pandas as pd

In [19]:
# 1
A=np.array( [ [5,-1,3,1,2] , [-2,8,5,-1,1] ] )
x=np.array( [1,2,3,4,5] )

In [4]:
print(A, x)

[[ 5 -1  3  1  2]
 [-2  8  5 -1  1]] [1 2 3 4 5]

In [18]:
np.dot(x, A)

array([36, 58, 48, 64])

In [11]:
np.dot(A, x)

array([26, 30])

In [12]:
np.shape(A)

(2, 5)

In [13]:
np.shape(x)

(5,)

In [15]:
# 2*5 5*1

In [21]:
# 2
A=np.array( [ [1,9,8,5] , [3,6,3,2] , [3,3,3,3], [0,2,5,9], [4,4,1,2] ] )
B=np.array( [ [1,-1,0,1,1] , [-2,0,2,-1,1] ] )

In [22]:
print(A)
print(B)

[[1 9 8 5]
 [3 6 3 2]
 [3 3 3 3]
 [0 2 5 9]
 [4 4 1 2]]
[[ 1 -1  0  1  1]
 [-2  0  2 -1  1]]

In [23]:
# 2*5 5*4

In [24]:
np.dot(B,A)

array([[  2,   9,  11,  14],
       [  8, -10, -14, -11]])

In [34]:
# 3
x=np.array([1,2,1,0,4])
y=np.array([2,1,-1,1,0])
z=np.array([-1,1,-1,0,0])

In [35]:
A = np.array([x,y,z])

In [36]:
print(A)

[[ 1  2  1  0  4]
 [ 2  1 -1  1  0]
 [-1  1 -1  0  0]]

In [37]:
G = np.dot(A, A.T)

In [38]:
G

array([[22,  3,  0],
       [ 3,  7,  0],
       [ 0,  0,  3]])

In [40]:
G.reshape(1,9)

array([[22,  3,  0,  3,  7,  0,  0,  0,  3]])

In [41]:
A=np.array([x,y,z]).T

print(A.T@A)

[[22  3  0]
 [ 3  7  0]
 [ 0  0  3]]

In [44]:
# 4
Count_DF = pd.DataFrame({'Женские стрижки': [10, 2, 12, 4, 6, 10, 22, 7], 
                                'Мужские стрижки': [5, 21, 12, 8, 25, 3, 1, 0], 
                                'Окрашивания':[12, 3, 0, 18, 27, 2, 4, 31],
                              'Укладка':[15, 25, 30, 14, 25, 17, 25, 31],
                                'Уход':[10, 6, 4, 5, 18, 12, 20, 28]
                                }, 
                               index=['Аня', 'Борис', 'Вика', 'Галя', 'Дима', 'Егор', 'Женя','Юра'])
Price_DF = pd.DataFrame({'Женские стрижки': [2, 1.8, 2, 1.8, 2.5, 5, 1.1, 4.5], 
                                'Мужские стрижки': [1.5, 2.5, 2, 1.2, 3.5, 5, 1, 4], 
                                'Окрашивания':[1, 1, 0, 2.8, 2, 3, 1.5, 2.5],
                              'Укладка':[0.8, 1, 0.5, 0.8, 1, 2, 0.5, 1],
                                'Уход':[1, 1, 2, 2, 1.5, 2.5, 1.7, 2] 
                                }, 
                               index=['Аня', 'Борис', 'Вика', 'Галя', 'Дима', 'Егор', 'Женя','Юра'])

In [45]:
print(Count_DF)

       Женские стрижки  Мужские стрижки  Окрашивания  Укладка  Уход
Аня                 10                5           12       15    10
Борис                2               21            3       25     6
Вика                12               12            0       30     4
Галя                 4                8           18       14     5
Дима                 6               25           27       25    18
Егор                10                3            2       17    12
Женя                22                1            4       25    20
Юра                  7                0           31       31    28

In [46]:
print(Price_DF)

       Женские стрижки  Мужские стрижки  Окрашивания  Укладка  Уход
Аня                2.0              1.5          1.0      0.8   1.0
Борис              1.8              2.5          1.0      1.0   1.0
Вика               2.0              2.0          0.0      0.5   2.0
Галя               1.8              1.2          2.8      0.8   2.0
Дима               2.5              3.5          2.0      1.0   1.5
Егор               5.0              5.0          3.0      2.0   2.5
Женя               1.1              1.0          1.5      0.5   1.7
Юра                4.5              4.0          2.5      1.0   2.0

In [55]:
Count_DF.loc['Борис',:]

Женские стрижки     2
Мужские стрижки    21
Окрашивания         3
Укладка            25
Уход                6
Name: Борис, dtype: int64

In [56]:
Count_DF.loc['Борис',:].values

array([ 2, 21,  3, 25,  6])

In [57]:
Count_DF.loc['Борис',:].values * Price_DF.loc['Борис',:].values

array([ 3.6, 52.5,  3. , 25. ,  6. ])

In [58]:
C=Count_DF.values

P=Price_DF.values

Boris_inc=C[1]*P[1]

print(Boris_inc)

[ 3.6 52.5  3.  25.   6. ]

In [59]:
# 5
com=[0.2, 0.2, 0.3, 0.1, 0.1]

In [60]:
Price_DF.values * com

array([[0.4 , 0.3 , 0.3 , 0.08, 0.1 ],
       [0.36, 0.5 , 0.3 , 0.1 , 0.1 ],
       [0.4 , 0.4 , 0.  , 0.05, 0.2 ],
       [0.36, 0.24, 0.84, 0.08, 0.2 ],
       [0.5 , 0.7 , 0.6 , 0.1 , 0.15],
       [1.  , 1.  , 0.9 , 0.2 , 0.25],
       [0.22, 0.2 , 0.45, 0.05, 0.17],
       [0.9 , 0.8 , 0.75, 0.1 , 0.2 ]])

In [61]:
Price_DF.values * com * Count_DF.values

array([[ 4.  ,  1.5 ,  3.6 ,  1.2 ,  1.  ],
       [ 0.72, 10.5 ,  0.9 ,  2.5 ,  0.6 ],
       [ 4.8 ,  4.8 ,  0.  ,  1.5 ,  0.8 ],
       [ 1.44,  1.92, 15.12,  1.12,  1.  ],
       [ 3.  , 17.5 , 16.2 ,  2.5 ,  2.7 ],
       [10.  ,  3.  ,  1.8 ,  3.4 ,  3.  ],
       [ 4.84,  0.2 ,  1.8 ,  1.25,  3.4 ],
       [ 6.3 ,  0.  , 23.25,  3.1 ,  5.6 ]])

In [65]:
Count_DF.values * Price_DF.values

array([[20. ,  7.5, 12. , 12. , 10. ],
       [ 3.6, 52.5,  3. , 25. ,  6. ],
       [24. , 24. ,  0. , 15. ,  8. ],
       [ 7.2,  9.6, 50.4, 11.2, 10. ],
       [15. , 87.5, 54. , 25. , 27. ],
       [50. , 15. ,  6. , 34. , 30. ],
       [24.2,  1. ,  6. , 12.5, 34. ],
       [31.5,  0. , 77.5, 31. , 56. ]])

In [67]:
np.dot(Count_DF.values * Price_DF.values, com)

array([11.3 , 15.22, 11.9 , 20.6 , 41.9 , 21.2 , 11.49, 38.25])

In [73]:
s = Count_DF.values * Price_DF.values
print(s)
com=[0.2, 0.2, 0.3, 0.1, 0.1]

[[20.   7.5 12.  12.  10. ]
 [ 3.6 52.5  3.  25.   6. ]
 [24.  24.   0.  15.   8. ]
 [ 7.2  9.6 50.4 11.2 10. ]
 [15.  87.5 54.  25.  27. ]
 [50.  15.   6.  34.  30. ]
 [24.2  1.   6.  12.5 34. ]
 [31.5  0.  77.5 31.  56. ]]

In [76]:
20*0.2+7.5*0.2+12*0.3+12*0.1+10*0.1

11.3

In [74]:
np.shape(s)

(8, 5)

In [75]:
np.shape(com)

(5,)

In [79]:
# 6
d = np.ones(5)
d

array([1., 1., 1., 1., 1.])

In [80]:
dif = d-com
dif

array([0.8, 0.8, 0.7, 0.9, 0.9])

In [81]:
np.dot(Count_DF.values * Price_DF.values, dif)

array([ 50.2 ,  74.88,  59.1 ,  67.8 , 166.6 , 113.8 ,  66.21, 157.75])