1.1

In [1]:
l = [1, 5, 11, 5, 25, 1]

In [2]:
summ = 0
for i in l:
    if i >= 10:
        summ += i
print(summ)

36

In [3]:
11+25

36

1.2

In [4]:
l1 = ['dgf', 'fhgh', 'fjhgjr', 'vhvhr']

In [5]:
for i in l1:
    if i[-1] == 'r':
        print(i)

fjhgjr
vhvhr

1.3

In [6]:
import random

In [7]:
l2 = ''
n = 0
while n < 6:
    l2 += str(random.randint(0, 9))
    n += 1
if '3' in l2:
    print(l2)
else:
    l2 = l2[:-1] + '3'
    print(l2)

448539

In [8]:
import random
number = 0
while '3' not in str(number):
    number = random.randint(100000, 999999)
    print(number)
print(str(number))

352014
352014

1.4

In [9]:
str1 = 'сборная России в финале чм'

In [10]:
len(str1) # кол-во символов

26

In [11]:
len(str1) - str1.count(' ') # кол-во символов без пробелов

22

In [12]:
len(str1.split(' '))  # кол-во слов в строке

5

2.1

In [13]:
import numpy as np

In [14]:
n = np.array(
    [
        [1, 2],
        [3, 4]
    ]
)
print(n)

[[1 2]
 [3 4]]

In [15]:
n1 = n.ravel()

In [16]:
l = []
for i in n1:
    l.append(i)
print(l)

[1, 2, 3, 4]

In [17]:
sum(l)

10

2.2

In [18]:
n = np.array(
    [
        [1, 2],
        [3, 4],
        [5, 6]
    ]
)
print(n)

[[1 2]
 [3 4]
 [5 6]]

In [19]:
n.sum(axis=0)

array([ 9, 12])

In [20]:
max(n.sum(axis=0))

12

3.1

In [21]:
l = [[1, 'Калинкин Иван Иванович', 33, 5], [12, 'Коробочка Изольда Тихоновна', 55, 7], [3, 'Смелый Артур Иванович', 24, 5]]

In [22]:
dict1 = {}
for i in l:
    first, *other = i
    dict1.setdefault(first, other)
print(dict1)

{1: ['Калинкин Иван Иванович', 33, 5], 12: ['Коробочка Изольда Тихоновна', 55, 7], 3: ['Смелый Артур Иванович', 24, 5]}

In [23]:
data_dict = dict()
for i in l:
    data_dict[i[0]] = i[1:]
print(data_dict)

{1: ['Калинкин Иван Иванович', 33, 5], 12: ['Коробочка Изольда Тихоновна', 55, 7], 3: ['Смелый Артур Иванович', 24, 5]}

3.2

In [24]:
fio = input("Введи фамилию: ")
group = int(input('Введи номер группы: '))
#fio = 'Смелый'
#group = 23

Введи фамилию: п
Введи номер группы: 45

In [25]:
for i in dict1.values():
    if i[0].split(' ')[0] == fio:
        i[2] = group
print(dict1)

{1: ['Калинкин Иван Иванович', 33, 5], 12: ['Коробочка Изольда Тихоновна', 55, 7], 3: ['Смелый Артур Иванович', 24, 5]}

In [29]:
fio = input("Введи фамилию: ")
age= int(input('Введи возраст: '))
# age = 5

Введи фамилию: Коробочка
Введи возраст: 45

In [30]:
for i in dict1.values():
    if i[0].split(' ')[0] == fio:
        i[1] = age
print(dict1)

{1: ['Калинкин Иван Иванович', 33, 5], 12: ['Коробочка Изольда Тихоновна', 45, 7], 3: ['Смелый Артур Иванович', 24, 5]}